<div class="container mt-5 pt-4">
  <div class="row">
    <div class="col-md-4 text-center text-white">
      <div class="mb-4">
        <% if @user.profile_picture.attached? %>
            <%= image_tag(@user.profile_picture, class: 'profile-picture-show')%>
          <% else %>
            <%= image_tag('default_profile_picture.png', class: 'profile-picture-show') %>
          <%end%>
      </div>
      <h3> <%=@user.username%> </h3>
      <p class="user-bio">
        <%= @user.bio.present? ? @user.bio : "This user has not set a bio yet." %>
      </p>
      <% if logged_in? %>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_path(@user) %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div id="postContainer">
        <% @posts.each do |post| %>
          <div class="card post-card">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <div>
                  <h3 class="card-title"><%= post.title %></h3>
                  <p class="post-caption"> By <%= post.user.username %></p>
                </div>
              </div>
              <div> <%= link_to image_tag(post.image, class: 'img-fluid post-image-index mt-3'), post_path(post) %></div>
              <div class="my-3">
                <strong class="post-caption"> Posted <%= time_ago_in_words(post.created_at)%> ago</strong>
                <p><%= post.description %> </p>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <% if logged_in? %>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-outline-primary btn-md like-btn btn-icon like-button" data-post-id="<%= post.id %>">
                      <%= current_user.liked_posts.include?(post) ? 'Unlike' : 'Like' %>
                    </button>
                    <span class="ms-2" id="like-count-<%= post.id %>"><%= post.likes.count %> likes</span>
                  </div>
                <% if @user == current_user %>
                  <div class="d-flex">
                    <button class="btn btn-outline-secondary btn-md edit-caption-btn btn-icon me-2">
                      <%= link_to raw("<i class='fas fa-pencil-alt'></i>"), edit_post_path(post) %>
                    </button>
                    <button class="btn btn-outline-danger btn-md delete-btn btn-icon">
                      <%= link_to raw("<i class='fas fa-trash'></i>"), post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your post?" } %>
                    </button>
                  </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @posts.empty? %>
          <p class="post-caption text-white text-center">This user has not posted anything yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>