<h1>Aurora</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if logged_in? %>
  <h2>Welcome, <%= current_user.username %>! </h2>
  <%= link_to 'Log out', user_session_path(current_user), data: { turbo_method: :delete } %><br>
  <%= link_to 'Upload New post', new_post_path %>
<% else %>
  <%= link_to 'Login', new_user_session_path %><br>
  <%= link_to 'Create Account', new_user_path %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p><%= post.description %></p>
      <%= image_tag post.image %>
    </li>
  <% end %>
</ul>