<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container mt-4 d-flex justify-content-center">
  <div class="col-md-8">
    <div id="postContainer">
      <% @posts.each do |post| %>
        <div class="card post-card">
          <div class="card-body">
            <div class="d-flex align-items-start">
              <div>
                <h5 class="card-title"><%= post.user.username %></h5>
                <p class="post-caption"><%= post.title %></p>
              </div>
            </div>
            <div> <%= link_to image_tag(post.image, class: 'img-fluid post-image mt-3'), post_path(post) %></div>
            <p> Likes: <span id="like-count-<%= post.id %>"><%= post.likes.count %></span></p>
            <% if logged_in? %>
              <button class="like-button" data-post-id="<%= post.id %>">
                <%= current_user.liked_posts.include?(post) ? 'Unlike' : 'Like' %>
              </button>
            <% end %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>