<div class="container mt-4 d-flex justify-content-center">
  <div class="col-md-8">
    <div id="postContainer">
      <div class="card post-card">
        <div class="card-body">
          <div class="d-flex align-items-start">
            <% if @post.user.profile_picture.attached? %>
              <%= image_tag(@post.user.profile_picture, class: 'profile-picture-index me-3')%>
            <% else %>
              <%= image_tag('default_profile_picture.png', class: 'profile-picture-index me-3') %>
            <%end%>
            <div>
              <h5 class="card-title"><%= link_to @post.user.username, user_path(@post.user) %></h5>
              <p class="post-caption"> <%= @post.title %></p>
            </div>
          </div>
          <div> <%= link_to image_tag(@post.image, class: 'img-fluid post-image-show mt-3'), post_path(@post) %></div>
          <div class="my-3">
            <strong class="post-caption"> Posted <%= time_ago_in_words(@post.created_at)%> ago</strong>
            <p><%= simple_format(find_hashtags(@post.description)) %> </p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <div class="d-flex align-items-center">
              <% if logged_in? %>
                <%= form_with(url: post_likes_path(@post, redirect_to: post_path(@post)), method: :post, local: true) do %>
                  <%= button_tag class: 'btn btn-outline-primary btn-md like-btn btn-icon like-button' do %>
                    <i class="fas fa-thumbs-<%= @post.likers.include?(current_user) ? 'down' : 'up' %>"></i>
                  <% end %>
                <% end %>
              <% end %>
              <span class="ms-2" id="like-count-<%= @post.id %>"><%= @post.likes.count %> likes</span>
            </div>
            <% if logged_in? %>
            <% if admin_user? || @post.user == current_user %>
              <div class="d-flex">
                <button class="btn btn-outline-secondary btn-md edit-caption-btn btn-icon me-2">
                  <%= link_to raw("<i class='fas fa-pencil-alt'></i>"), edit_post_path(@post) %>
                </button>
                <button class="btn btn-outline-danger btn-md delete-btn btn-icon">
                  <%= link_to raw("<i class='fas fa-trash'></i>"), post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your post?" } %>
                </button>
              </div>
            <% end %>
            <% end %>
          </div>
          <div class="comment-section mt-3">
            <% if logged_in? %>
              <%= render 'comments/form' %>
            <% end %>
            <div class="comments-list mt-2">
              <%= render @post.comments, class: "comment" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>