<h2><%= @post.title %></h2>
<h4>Posted by <%= @post.user.username %></h4>
<p><%= @post.description %> </p>
<%= image_tag @post.image %>


<% if logged_in? && @post.user == current_user %>
    <%= link_to "Edit post", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your post?"} %>
<% end %>

<%= link_to "Back", root_path %>

<h3>Add a Comment</h3>
<%= render 'comments/form' %>