<h1>Login to Aurora</h1>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<%= form_with model: @user, url: user_sessions_path do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true %>
  </div>
  <p>
    <%= form.submit 'Login' %>
  </p>
<% end %>

<%= link_to 'Sign up', new_user_path %>