<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aurora" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar fixed-top">
      <div class="container-fluid">
          <div class="navbar-brand custom-navbar-title fw-bold">Aurora</div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: 'nav-link custom-nav-item' %>
              </li>
              <% if logged_in?%>
                <li class="nav-item">
                  <%= link_to 'Profile', user_path(current_user), class: 'nav-link custom-nav-item'%>
                </li>
              <% end %>
            </ul>

            <%= form_with(url: search_path, method: :get, local: true, class: "d-flex position-absolute top-50 start-50 translate-middle") do %>
              <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Search" %>
              <%= submit_tag "Search", class: "btn btn-secondary" %>
            <% end %>

            <ul class="navbar-nav ms-auto">
              <% if logged_in? %>
                <li class="nav-item" id="welcomeItem">
                  <span class="nav-link custom-nav-item">Hello, <%= current_user.username %>!</span>
                </li>
                 <li class="nav-item" id="uploadPostItem">
                  <%= link_to 'New Post', new_post_path, class: 'nav-link custom-nav-item' %>
                </li>
                <li class="nav-item" id="logoutItem">
                  <%= link_to 'Log out', user_session_path(current_user), class: 'nav-link custom-nav-item', data: { turbo_method: :delete } %>
                </li>
              <% else %>
                <li class="nav-item" id="signInItem">
                  <%= link_to 'Sign In', new_user_session_path, class: 'nav-link custom-nav-item' %>
                </li>
                <li class="nav-item" id="createAccountItem">
                  <%= link_to 'Create Account', new_user_path, class: 'nav-link custom-nav-item' %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
